<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="left-section">
    <div class="card">
      <h2>Certificados HASH</h2>
      <div>
        <i class="fas fa-print print-icon" (click)="imprimir()"></i>
      </div>
      <div class="hash-list">
        <p id="dni" name="dni">DNI: {{ dni }}</p>
        <p>Ficha de inscripción: edc0278bf2fedae619c4f928c1d8c13b8f2d3251c49c555befbc205e026df46624d327</p>
        <p>Constancia de examen: edc0276d1beb70bfcc414e7fadf7f98edab2f80687733b8a56886925848d765fbea83f</p>
        <p>Reporte de resultado del examen: edc027fdd9d803eff5ec5faf4509202f19e8028b5a383ed4f56072c1e1d696a79ed03c</p>
        <p>Constancia de ingreso: edc0271cc81b6f596222c6e1f760456a50d005790bee205e257c55b5f7fb9cffcba15a</p>
        <!-- Agrega más hashes aquí según sea necesario -->
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="right-section">
    <div class="card">
      <div class="hash-input">
        <label for="hash">Ingresa un hash:</label>
        <input type="text" id="hash" name="hash">
        <button (click)="consultarBloque()">Consultar</button>
      </div>
      <div class="block-details">
        <label>Detalle:</label>
        <textarea id="block" rows="10" readonly>{{ resultadoConsulta }}</textarea>
      </div>
    </div>
  </div>
</div>
