<app-sidebar></app-sidebar>

<div class="container">
  <div class="form-container">
    <h2>Datos Personales</h2>
    <form (ngSubmit)="validacionSimilitudForm()" name="miFormulario">
      <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" [(ngModel)]="datosPersonales.DNI" required [ngModelOptions]="{standalone: true}">

      </div>
      <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" id="age" required>
      </div>
      <div class="form-group">
        <label for="nombresApellidos">Nombres y Apellidos:</label>
        <input type="text" id="name" required>
      </div>
      <div class="form-group">
        <label for="facultadEspecialidad">Facultad / Especialidad:</label>
        <input type="text" id="faculty" required>
      </div>
      <div class="form-group">
        <label for="modalidad">Modalidad:</label>
        <select id="modality" required>
          <option value="Admisión">admision</option>
          <!-- Agregar otras opciones aquí -->
        </select>
      </div>
      <div class="form-group">
        <label for="institucionEducativa">Institución Educativa:</label>
        <input type="text" id="inst" [(ngModel)]="datosPersonales.inst" required [ngModelOptions]="{standalone: true}">
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div>

  <div class="form-container">
    <h2>Apoderado</h2>
    <form (ngSubmit)="guardarDatosPadres()">
      <div class="form-group">
        <label for="nombresPadres">Nombre:</label>
        <input type="text" id="nombresPadres" required>
      </div>
      <div class="form-group">
        <label for="apellidosPadres">Apellidos:</label>
        <input type="text" id="apellidosPadres" required>
      </div>
      <div class="form-group">
        <label for="edadPadres">Edad:</label>
        <input type="number" id="edadPadres" required>
      </div>
      <div class="form-group">
        <label for="correoPadres">Correo:</label>
        <input type="email" id="correoPadres" required>
      </div>
      <div class="form-group">
        <label for="celularPadres">Celular:</label>
        <input type="text" id="celularPadres" required>
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div>
</div>
