


<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">⛩</button>
    <div class="logo-text" *ngIf="collapsed">Universidad</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>


<!-- <div [ngClass]="{'sidebar': true, 'sidebar-hidden': sidebarHidden}">

  <div class="avatar-container">
    // Aquí irá el avatar
    <img src="ruta-del-avatar" alt="Avatar" class="avatar">
    <div class="user-details">
      // Aquí irá el nombre y el código
      <h3>Nombre del usuario</h3>
      <p>Código del usuario</p>
    </div>
  </div>

  <ul>
    <li *ngFor="let option of navigationOptions">
      <a [routerLink]="option.route">
        <i [class]="option.iconClass"></i> {{ option.label }}
      </a>
    </li>

    <li>
      <a [routerLink]="'/login'" class="logout-button">
        Salir
      </a>
    </li>
  </ul>

  <button class="toggle-button" (click)="toggleSidebar()">
  <img src="../../assets/svg/menu.svg" alt="Toggle Sidebar">
</button>

</div> -->
