.exam-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 25px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.titulo {
  margin-bottom: 15px;
}

.question {
  margin-bottom: 35px;
}

.pregunta {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
